@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
*{
font-family: "Roboto", sans-serif;
margin: 0;
padding: 0;
outline: 0;
font-weight: 300; 
box-sizing: border-box;   
}
:root {
--primary: rgba(7, 70, 97, 1);
--secundary: rgba(24, 130, 227, 1);
--third: rgba(10, 1, 1, 1);     
}
header{
    background-color: var(--secundary);
    width: 100%;
    display: flex;
    flex-direction: row;
}
header picture {
    width: 80%;
    display: flex;
    justify-content: center;
}

header div{
    display: flex;
    flex-direction:column;
}

header div a{
    text-decoration: none;
    font-size: 2rem;
    color: aliceblue;
    background-color: black;
    border-radius: 10px;
    margin: 10px;
    padding: 1rem;

}

main {
    background-color: rgba(7, 70, 97, 1);   
    width: 100%; 
} 
main img{
   width: 80%; 
   margin: 10%;
   align-items: center;
}


