@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
*{
font-family: "Roboto", sans-serif;
margin: 0;
padding: 0;
outline: 0;
font-weight: 300; 
box-sizing: border-box;   
}
:root {
--primary: rgba(7, 70, 97, 1);
--secundary: rgba(24, 130, 227, 1);
--third: rgba(10, 1, 1, 1);     
}
header{
    background-color: var(--secundary);
    width: 100%;
    display: flex;
}
header picture {
    width: 100%;
    display: flex;
    justify-content: center;
}
header picture img {
    
}
header nav {
    position: absolute;
}
header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
header nav ul li {
    margin: 0 1.5rem;
}
header nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color:rgba(10, 1, 1, 1)
    
}
main {
    background-color: rgba(7, 70, 97, 1);    
} 
main img{
   width: 80%; 
   display: block;
   margin-left: auto;
   margin-right: auto;
}


